* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}

html { 
  background: url('/background.png'); 
}

:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --accent-color: #3880FF;
}
