.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75%;
}

.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.login-form__pre-title {
  text-align: center;
  font-weight: 300;
}

.login-form__title {
  text-align: center;
  margin-bottom: 1.1rem;
}

.login-form__user-input {
  height: 3rem;
  padding: 0 2rem;
  border-radius: 0.4rem;
  border: 1px solid var(--primary-color);
  margin-bottom: 1rem;
}

.login-form__user-input:focus{
  outline: 3px dashed var(--accent-color);
}

.login-form__submit-btn {
  height: 3rem;
  min-width: 50%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 999px;
  border: none;
  cursor: pointer;
  transition: background;
  transition-duration: .25s;
  font-size: 1.3rem;
}

.login-form__submit-btn:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);  
}

.login-form__submit-btn:focus {
  outline: 3px dashed var(--accent-color);
}

.login-form__hr {
  height: 1px;
  width: 100%;
  border-bottom: 1px solid var(--primary-color);
  margin-bottom: 1.8rem;
}

.login-form__prev-user {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
  min-width: 100%;
  padding: 0.4rem;
  border-radius: 10px;
}

.login-form__prev-user:hover {
  background: #f5f5f5;
}

.login-form__prev-user img{
  border-radius: 999px;
  border: 3px solid var(--primary-color);
}

.login-form__prev-user p{
  font-size: 1.5rem;
  font-weight: 500;
}

@media only screen and (min-width: 943px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    margin-right: 10rem;
  }

  .login-form {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 4rem;
    border-radius: 0.9rem;
  }
}